body{
    margin: 0;
    padding: 0;
    font-family:'poppins' ,sans-serif;
}

main{
    font-display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 15%;
}

.bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1;
}

div{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

select{
    width: 100%;
    margin-left: 0;
    outline: none;
    background-color: rgb(244, 247, 244);
    padding: 3%;
    border: 1px solid rgb(225, 217, 217);
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgb(225, 215, 215);
        transition: opacity 0.5s;
}

select:hover{
    opacity: 0.5;
}

input{
    padding: 3%;
    border: 1px solid rgb(227, 225, 225);
    border-radius: 10px;
    background-color: rgb(244, 247, 244);
    outline: none;
    box-shadow: 1px 2px 5px rgb(209, 207, 207);
    transition: opacity 0.5s;
}

input:hover{
    opacity: 0.5;
}

@media(max-width:666px){
    .bottom{
        display: flex;
        flex-direction: column;
        gap: 5%;
    }
    .left{
        display: flex;
        flex-direction: column;
    }
    .right{
        display: flex;
        flex-direction: column;
    }
}

.button{
    height: 8vh;
    background-color: rgba(7, 207, 37, 0.906);
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transform: opacity 0.5s;
    flex: 1;
}

.buttonn{
    border: 0px ;
    height: 10px;
    background-color: rgba(7, 207, 37, 0.906);
    border-radius: 10px;
    cursor: pointer;
    transform: opacity 0.5s;
    flex: 1;
}

.buttonm{
    height: 5vh;
    background-color: rgba(7, 207, 37, 0.906);
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transform: opacity 0.5s;
    flex: 1;
}

.button:hover{
    opacity: 0.8;
}

.payment{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.amount{
    padding: 3%;
    border: 1px solid rgb(227, 225, 225);
    border-radius: 10px;
    background-color: rgb(244, 247, 244);
    outline: none;
    box-shadow: 1px 2px 5px rgb(209, 207, 207);
    transition: opacity 0.5s;
}

.submit{
    display: flex;
    flex-direction: row;
    gap: 1%;
}

/*
footer
*/

footer{
    background-color: green;
    padding: 1%;
    text-align: center;
}

footer .label{
    color: rgb(18, 33, 10,0.7);
}
