body{
    margin: 0;
    padding: 0;
}

main{
    font-display: flex;
    flex-direction: column;
}

.top-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.h2{
    justify-items: center;
}

.services-container{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

@media(max-width:666px){
    .services-container{
        display: flex;
        flex-direction: column;
    }
}

.bottom{
    transform: translateY(-20%);
    background-color: white;
    border: 1px solid;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: -0.1px 2px 5px;
    border-radius: 10px;
}

.service{
    background-color: rgb(103, 255, 92, 0.9);
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-items: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    transform: translateY(-10%);
}

@media(max-width:666px){
    .service{
        display: flex;
        flex-direction: column;
    }
}

.left{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.left img{
    width: 70px;
    border-radius: 5px;
}

@media(max-width:666px){
    .left,.rigth{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
}

button{
    width: 70%;
    height: 40px;
    background-color: rgba(248, 246, 246, 0.5);
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

@media(max-width:666px){
    button{
        width: 200px;
        height: 40px;
        background-color: rgb(223, 233, 243, 0.5);
        backdrop-filter: blur(10px);
    }
}